body {
  background-color: #ddd;
  color: #444;
  line-height: 1.5;
  font-family: Helvetica, Arial, sans-serif;
  width: 60%;
  margin: 0 auto;
  padding: 2% 0;
}

main {
  background-color: white;
  padding: 20px;
}

h1,
h2 {
  color: rgb(140, 76, 8);
}

h2 {
  user-select: none; /* Impede seleção no duplo clique [cite: 83] */
  cursor: pointer;
}

section {
  margin-top: 0px;
  padding-bottom: 5px;
  border-top: solid 1px gray;
}

/* Regra de recuo para o index.html */
section > h2 + p,
section > h2 + ul {
  text-indent: 2rem;
}

/* CORREÇÃO DO ESPAÇO NO CARGO: remove recuo de parágrafos com negrito */
section p b,
section p:first-of-type {
  text-indent: 0 !important;
}

#experiencia ul li {
  font-weight: bold;
}

.oculto {
  display: none; /* Faz o elemento desaparecer do layout [cite: 66, 80] */
}

a:link {
  color: rgb(140, 76, 8);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
