body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.painel-selecao {
  background-color: #e6e6e6;
  padding: 20px;
  width: 350px;
}

.painel-selecao h2 {
  margin-top: 0;
  font-size: 1.5em;
  font-weight: bold;
}

label {
  font-size: 0.9em;
}

select {
  padding: 2px;
  margin-bottom: 15px;
}

#resultado {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 0;
}
