/* CONFIGURAÇÃO DO BODY */
body {
  background-color: #ddd;
  color: #444;
  line-height: 1.5;
  font-family: Helvetica, Arial, sans-serif;

  width: 60%;
  margin: 0 auto;
  padding: 2% 0;
}

/* MAIN */
main {
  background-color: white;
  padding: 20px;
}

/* TÍTULOS */
h1,
h2 {
  color: rgb(140, 76, 8);
}

/* 7 - regra de primeiro paragrafo logo apos o titulo de cada seção apareça com recuo de primeira linha */
section > h2 + p {
  text-indent: 2rem;
}

/* 8 - regra para que itens da lista que estiver na seção da experiencia apareçam em negrito */
#experiencia ul li {
  font-weight: bold;
}

section p:first-of-type {
  /* usado pra tirar o paragrafo da palavra cargo no experiencia.html, sem isso tava desajustado*/
  text-indent: 0;
}

/* 9 - links com pseudo-classes */
a:link {
  color: rgb(140, 76, 8);
  text-decoration: none;
}

a:visited {
  color: rgb(100, 60, 5);
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: black;
}

/* 10 - definindo estilo das sessões */
section {
  margin-top: 0px;
  padding-bottom: 5px;
  border-top: solid 1px gray;
}
