/* CENTRALIZAÇÃO E VISUAL GERAL */
body {
  background-color: #eee;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 20px;
}

main {
  width: 70%;
  margin: 0 auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

/* estilizando fieldset */
fieldset {
  background-color: #fafafa;
  border: 2px solid #999;
  padding: 15px;
  margin-top: 20px;
}

/* colocando os pseudo-elementos ✓ ✖ */
.field {
  position: relative;
}

.field input:invalid {
  background-color: #ffdddd;
}

.field input:valid {
  background-color: #ddffdd;
}

/* ícone X */
.field input:invalid::after {
  content: "✖";
  color: red;
  position: absolute;
  right: 10px;
  top: 4px;
  font-size: 18px;
}

/* ícone ✓ */
.field input:valid::after {
  content: "✓";
  color: green;
  position: absolute;
  right: 10px;
  top: 4px;
  font-size: 18px;
}

/* todos os campos obrigatorios com fundos diferentes */
input[required] {
  border-left: 4px solid #d97;
  background-color: #fff7e6;
}

/* exemplo de uso de ID*/
#info-extra {
  border-color: #444;
}

/* exemplo de uso de classe */
.highlight {
  background-color: yellow;
}

/* placeholder */
::placeholder {
  color: #888;
  font-style: italic;
}

/* espaçamento das labels para melhor visualização, deixando mais 'limpo' - isso nao era exigido mas coloquei*/
td {
  padding: 8px 15px;
}
