* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #dddddd;
  text-align: center; /* centralizando tudo no body conforme instrucao especifica da pág 2 */
}

header,
footer {
  background-color: #555;
  color: white;
  padding: 20px;
  width: 100%;
}

nav {
  background-color: #444;
  padding: 10px;
}
nav ul {
  list-style: none;
}
nav li {
  display: inline-block;
  margin: 0 15px;
}
nav a {
  color: white;
  text-decoration: none;
}

/* regra especifica da Galeria */
main {
  width: 70%;
  background-color: white;
  margin: 30px auto; /*centralizar o bloco branco */
  padding: 20px;
  border-radius: 10px;
}

h2 {
  text-align: left; /*titutulo alinhado a esquerda como na foto */
  margin-bottom: 20px;
  color: #444;
}

/* estilo das imagens (exibida em Cards) */
.gallery-container img {
  width: 200px; /*tam fixo para parecer thumbnails */
  height: 150px;
  object-fit: cover;
  margin: 10px;
  border-radius: 10px; /* Cantos arredondados */
  box-shadow: 3px 3px 5px #888888; /*sombra conforme imagem */
  display: inline-block; /*permite ficar lado a lado sem flexbox */
}
