/*reset básico */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #dddddd; /*fundo cinza claro geral */
}

header {
  background-color: #555555;
  color: white;
  padding: 30px;
  text-align: center;
}

/* menu de navegação */
nav {
  background-color: #444444; /*um pouco mais escuro que o header */
  text-align: center;
  padding: 10px 0;
}

nav ul {
  list-style-type: none;
}

nav li {
  display: inline-block; /*substitui Flexbox para ficar lado a lado */
  margin: 0 15px;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

nav a:hover {
  text-decoration: underline;
}

/*conteúdo principal da Home */
main {
  background-color: white;
  width: 70%;
  margin: 20px auto; /*Centralizar horizontalmente */
  padding: 30px;
  box-sizing: border-box;
  border-radius: 5px;
}

h2 {
  color: #333;
  margin-bottom: 15px;
}

p {
  margin-bottom: 15px;
  line-height: 1.5;
  color: #333;
}

footer {
  background-color: rgba(255, 255, 255, 0);
  color: rgba(255, 255, 255, 0);
  text-align: center;
  padding: 15px;
  clear: both;
}
